* {
    font-size: $baseFontSize;
    // line-height: 1;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active,
a:focus,
a:active {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

a,
button {
    cursor: pointer;
    color: inherit;
}

button::-moz-focus-inner {
    padding:0;border:0;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

ol li,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

.visually-hidden {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.text {
    font-family: $josefinSansFont;
    font-weight: 400;
    font-size: rem(18px);
    line-height: 1.4;

    &-dark {
        color: $darkBlueColot;
    }

    &-gray {
        color: $grayBlueColor;
    }

    &-light {
        color: $nearlyWhiteColor;
    }
}