$baseFontSize: 16px;

$josefinSansFont: 'Josefin Sans', sans-serif;
$juraFont : 'Jura', sans-serif;

$whiteColor: #ffffff;
$nearlyWhiteColor: #fbfdff;
$greyColor: #d3d3d3;
$lightBlueColor: #daecfa;
$accentBlueColor: #39ade0;
$hoverBlueColor: #1d779f;
$grayBlueColor: #455d72;
$darkBlueColot: #133a4b;
$blackTextColor: #1b1e20;
$blackColor: #000000;