@import './base/reset.scss';
@import './base/index.scss';
@import './base/general.scss';

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  overflow: hidden;
}

.main {
}