@import './base/index.scss';

.header {
  position: relative;
  z-index: 1;
  box-shadow: 0px 4px 11px  rgb(53, 84, 97, 0.1);

  &__top {
    padding: 15px 0;
    background-color: $accentBlueColor;

    .header__contacts {
      display: none;
    }
  }

  &__contacts {
    display: flex;

  }

  .icon {
    width: 22px;
    height: 22px;
    stroke: $nearlyWhiteColor;
  }

  .wrapper {
    position: absolute;
    top: 0;
    z-index: 5;
    right: -100%;

    min-height: 100vh;
    width: 100%;
    max-width: 375px;
    padding: 100px 20px 30px;
    background-color: $grayBlueColor;

    transition: right 0.5s ease;

    .header__contacts {
      flex-direction: column;
      gap: 30px;
    }

    .button {
      align-self: center;
      width: fit-content;
    }
  }

  .navigation {
    margin-bottom: 30px;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &__item {}

    &__link {
      font-size: 1.5rem;
      color: $nearlyWhiteColor;

      &:hover {
        color: $accentBlueColor;
      }
    }
  }

  &__popup {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: none;

    width: 100vw;
    height: 100vh;
    background-color: rgb(19, 58, 75, 0.5);
  }

  &.active {
    .wrapper {
      right: 0;
    }

    .header__popup {
      display: unset;
    }

    .burger-menu {
      justify-content: center;

      &__item:nth-of-type(2) {
        display: none;
      }

      &__item:nth-of-type(1) {
        transform: translateY(1px) rotate(45deg);
      }
      &__item:nth-of-type(3) {
        transform:  translateY(-1px) rotate(135deg);
      }
    }
  }
}


@media only screen and (min-width: 1200px) {
  .header {
    &__top {

      .container {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
      }

      .logo {
        margin-right: 80px;
      }
      .header__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__bottom {
      .header__contacts {
        display: none;
      }

      .wrapper {
        position: unset;

        min-height: unset;
        max-width: unset;
        padding: 9px 0px;
        background-color: unset;
      }

      .navigation {
        margin-bottom: unset;

        &__list {
          display: flex;
          flex-direction: unset;
          gap: 130px;
          justify-content: center;
        }

        &__link {
          font-size: 1rem;
          color: $darkBlueColot;

          &:hover {
            color: $accentBlueColor;
          }
        }
      }
    }

    .burger-menu {
      display: none;
    }
  }

}