@import './base/index.scss';

.navigation {

  &__item {
    overflow: hidden;
  }

  &__link  {
    position: relative;

    font-family: $josefinSansFont;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: $darkBlueColot;
    cursor: pointer;

    transition: color 0.3s ease;

    &:hover {
      color: $accentBlueColor;
    }
  }

  .expandable {

    .submenu {
      display: none;

      &__item {
        padding-left: 10px;
      }

      &__link {
        line-height: 1.4;
      }
    }

    &.menu-active {
      .submenu {
        display: block;
      }
    }
  }
}