@import './base/index.scss';

.card {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  padding: 10px;
  background-color: $accentBlueColor;
  border-radius: 4px;

  transition: background-color 0.3s ease;

  .text {
    align-self: center;
  }

  &:hover {
    background-color: $hoverBlueColor;
  }

  &:active {
    background-color: $grayBlueColor;
  }

  .icon {
    margin-right: 5px;
    width: 62px;
    height: 62px;
    fill: #FBFDFF;
  }
}

@media only screen and (min-width: 576px) {
  .card {
    padding: 19px 24px;

    .icon {
      margin-right: 17px;
    }
  }
}