@import './base/index.scss';

.socials {
  display: flex;
  column-gap: 10px;

  &__item {
    transition: all 1.5s linear;

    &:hover {
      animation: icon 0.1s 4;
    }
  }

  .icon {
    width: 25px;
    height: 25px;
    fill: $nearlyWhiteColor;
  }
}

@keyframes icon {
  0%{ transform: rotateZ(-10deg); }
  100%{ transform: rotateZ(10deg); }
}